html {
    font-family: 'Raleway', sans-serif;
}

// Sizes - Mobile First

$base-font-size: 20px;
$font-scale:4;


@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-font-size + $font-scale * (6 - $i);
        line-height: 1.2em;
        margin-bottom: $grid__gap;
    }
}



h1,
h2,
h3 {
    font-family: 'Abril Fatface', cursive;


}

h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: Normal;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: $grid__gap;

}

.overline {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 700;

}

// Sizes Tablet and Larger

@include for-desktop-up {

    $base-font-size: 20px;
    $font-scale: 14;


    @for $i from 1 through 6 {
        h#{$i} {
            font-size: $base-font-size + $font-scale * (6 - $i);
            line-height: 1.2em;


        }
    }
}