// Grid Gaps/Gutter

$section-gutter: 64px;
$grid__gap: 16px;
$half-gap: 8px;

// Colors 

$color-pink: #D9043D;
$color-peach: #F2A88D;
$color-purple: #724EBF;
$color-yellow: #F2B035;
$color-light-pink: #F23869;
$color-light-grey: #ececec;
$color-brand-black: #171717;