// Grids - Mobile First
body {
    background-color: #F3D1C4;

}

.grid__section,
.grid__product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $grid__gap;
    margin: $half-gap;
    max-width: 1300px;
}

.grid__section {
    padding: 64px $half-gap;
}

.grid__product:not(.product__desc) {
    padding-top: 64px;
}